/* --------------- balise -------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
}

header,
footer,
.bloc_color input {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


a,
a:visited {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #1B1B1B;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

footer h2 {
    margin: 10px 0;
}

/* --------------- /balise -------------------*/
/* --------------- Classes -------------------*/

.nav_header {
    padding: 10px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

header li {
    display: inline;
    margin-right: 20px;
}

.nav_header li:hover {
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.bloc_color {
    height: 200px;
    background: rgb(80, 129, 255);
    background: linear-gradient(90deg, rgba(80, 129, 255, 1) 20%, rgba(217, 1, 216, 1) 50%, rgba(98, 185, 246, 1) 80%);
    display: flex;
    justify-content: right;
}

.bloc_color input {
    height: 15%;
    margin: 5px 5px 0 0;
    padding: 10px;
    width: 100px;
    border-radius: 0;
    border: gray 1px solid;

}

.logo_reseau {
    height: 45px;
}

.img_reseau_footer {
    height: 40px;
    border-radius: 90px;
    margin-left: 5px;

}

.nav_footer {
    margin: 10px 0 50px;
}

.nav_footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav_footer a {
    padding: 5px 10px;
    margin: 0 5px;
    transition: 0.5s ease;
    border-radius: 5px;
}

.nav_footer a:hover {
    background-color: gray;
    transition: 0.5s ease;

}

.nav_footer li {
    display: flex;
    align-items: center;
}